

<app-navbar></app-navbar>
<div class="container-div">
  <p class="intro-text">Hi, my name is</p>
  <h1 class="name-section">Saiffeddine Zouaghi</h1>
  <h2 class="title-section">I'm a Full Stack Web Developer</h2>

  <div class="description-div">
    <p>
      I'm a passionate full-stack web developer skilled in building efficient backends with
      <span class="tech-stack">Node.js</span> and <span class="tech-stack">Spring Boot</span>. 
      I excel in creating engaging frontends using <span class="tech-stack">Angular</span> and <span class="tech-stack">React</span>, 
      combining creativity with technical precision. My work focuses on scalable architectures, responsive designs, and user-centric experiences. 
      With a problem-solving mindset, I deliver innovative solutions that seamlessly bridge design and development.
    </p>
  </div>
</div>

<app-footer></app-footer>